<% provide(:title, "Help") %>
<h1>Help</h1>
<p id=help>
  FAQ:
  <br>
  How do I set up an account?
  <br>
  1. From the rmrly homepage, click "Sign up now!" 
  <br> 2. Fill in your information to create an account
  <br> 3. Congratulations, you are now a rmrly user! 
  <br>
  <div></div>
  How do I find a roommate?
  <br>
  1. Go to the matches section on the website
  <br>
  2. Click generate matches
  <br>
  3. Your matches will now appear
  <br>
  4. Chat with potential matches that you like
  <br>
</p>
