%h1 Chat with #{@other_user.name}!

%table#messages
    %tbody
        - @messages.each do |message|
            %tr
                - @this_message = message
                - if @incoming_messages.include? message
                    %td#incoming= render 'incoming_message'
                - if @outgoing_messages.include? message
                    %td#outgoing= render 'outgoing_message'

=form_tag send_message_path(@this_user, @other_user) do
    =text_area :message, :body
    =submit_tag "Send"