%table#matches
  %thead
    %tr
      %th Profile Picture
      %th Name
      %th Profile
      %th Chat
  %tbody
    - @matches.each do |user|
      %tr
        %td= gravatar_for user
        %td= user.name
        %td= link_to "View Profile", user_path(user)
        %td= link_to "Chat", chat_path(@logged_in_user,user)
