<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <!--< link rel="icon" href="../../favicon.ico"> -->

    <title>rmr.ly - User Notes</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="css/overall.css" rel="stylesheet">
    <!--  <link href="css/signin.css" rel="stylesheet"> -->
  </head>

  <body>

    <div class="container">
        <h2 class="form-signin-heading">Rmrly</h2>
      <p>
        <b>Want to keep track of potential roommates?</b>
        <div>Jot down your notes below and they'll be saved for the length of your session.</div>
      </p>
      
      <div>
        <form method="post">
            <input type="text" name="comments">
            <input type="submit" value="Submit">
        </form>
      </div>
      
      <div style="margin-top:10px;">
        <%= session[:comments] %>
      </div>
    </div>


    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  </body>
</html>